<header class="c-header">
  <div class="c-header_back">
    <a href="/"><i class="c-header_back_icon">Back</i></a>
  </div>
  <h1 class="c-header_logo e-noise _always">Yusuke Ishi<span class="e-noise_item" data-text="guro">guro</span></h1>
  <nav class="c-header_nav">
    <a href="javascript:void(0)" class="c-header_nav_item _about e-noise"><span class="e-noise_item" data-text="About">About</span></a>
  </nav>
</header>
