:root {
  --fontSize: 1rem;
  --fontFaceHeading: 'Roboto Mono', monospace;
  --fontFaceBody: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'ヒラギノ角ゴ ProN W3', Meiryo, sans-serif;
  --fontFaceCode: 'Roboto Mono', monospace;
}

body {
  font-family: var(--fontFaceHeading);
  letter-spacing: .25em;
}

p {
  line-height: 1.8;
}

code,
pre {
  font-family: var(--fontFaceCode);
}
