.uc-moguo > * {
  box-sizing: content-box;
}

.uc-moguo {
  width: 300px;
  margin: 0 auto 80px;
  font-size: 0;
  line-height: 1;
  text-align: center;
}

.uc-moguo > a {
  display: block;
  padding: 40px 0;
}

.uc-moguo-eye {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: relative;
  margin: 0 30px;
}
.uc-moguo-eye:before {
  content: " ";
  display: block;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 50%;
  margin-left: -1px;
}

.uc-moguo-mouth {
  width: 140px;
  height: 10px;
  margin: 16px auto 0;
  border-bottom: 18px solid #000;
  border-radius: 50%;
  position: relative;
}
.uc-moguo-mouth:before,
.uc-moguo-mouth:after {
  content: " ";
  display: block;
  position: absolute;
  border-radius: 50%;
  height: 10px;
}
.uc-moguo-mouth:before {
  width: 100%;
  top: -4px;
  left: 0;
  border-bottom: 10px solid #fff;
  z-index: 2;
}
.uc-moguo-mouth:after {
  width: 25px;
  top: 13px;
  left: 50%;
  margin-left: -12.5px;
  background: #000;
  z-index: 1;
}

.uc-moguo-tongue {
  width: 25px;
  height: 40px;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -12.5px;
}
.uc-moguo-tongue span {
  display: block;
  width: 25px;
  height: 40px;
  background: #d45049;
  border-radius: 45%;
  position: relative;
  z-index: 1;
}
.uc-moguo-tongue:before,
.uc-moguo-tongue:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 2px;
}
.uc-moguo-tongue:before {
  border-width: 0 0 18px 12px;
  border-color: transparent transparent #993a35 transparent;
  left: -6px;
  transform: rotate(6deg);
}
.uc-moguo-tongue:after {
  border-width: 18px 0 0 12px;
  border-color: transparent transparent transparent #993a35;
  right: -6px;
  transform: rotate(-6deg);
}