/* sanitize.css */
/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */
/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
	background-repeat: no-repeat; /* 1 */
	box-sizing: inherit; /* 2 */
}
/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
	text-decoration: inherit; /* 1 */
	vertical-align: inherit; /* 2 */
}
/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
	box-sizing: border-box; /* 1 */
	cursor: default; /* 2 */
	-ms-text-size-adjust: 100%; /* 3 */
	-webkit-text-size-adjust: 100%; /* 3 */
}
/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
	display: block;
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
	margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: .67em 0;
}
/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main { /* 1 */
	display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
	margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}
/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
	list-style: none;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}
/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
	background-color: transparent; /* 1 */
	-webkit-text-decoration-skip: objects; /* 2 */
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
	font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
	font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
	background-color: #ffff00;
	color: #000000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -.25em;
}
sup {
	top: -.5em;
}
/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}
::selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}
/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
	display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
	border-style: none;
}
/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
	fill: currentColor;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
	overflow: hidden;
}
/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */
/**
 * Collapse border spacing
 */
table {
	border-collapse: collapse;
}
/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	margin: 0;
}
/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
	overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
	text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
	-webkit-appearance: button; /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}
/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
	overflow: auto; /* 1 */
	resize: vertical; /* 2 */
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}
/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details, /* 1 */
menu {
	display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}
/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
	display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
	display: none;
}
/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	-ms-touch-action: manipulation; /* 1 */
	touch-action: manipulation;
}
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
	display: none;
}
/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
	cursor: progress;
}
/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
	cursor: pointer;
}
/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute;
}
/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
	cursor: default;
}
/* layout */
:root {
}
:root::-webkit-scrollbar {
	width: 3px;
}
:root::-webkit-scrollbar-track {
	background-color: transparent;
}
:root::-webkit-scrollbar-thumb {
	background-color: black;
}
.l-content {
  padding-bottom: 8em;
}
.l-inner {
  padding: 6em 16em;
  position: relative;
}
body {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: .25em;
}
p {
  line-height: 1.8;
}
code,
pre {
  font-family: 'Roboto Mono', monospace;
}
/* component */
.c-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6em 8em;
  line-height: 1;
  background-color: transparent;
}
.c-header_logo {
  display: none;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  margin: 0
}
.c-header_logo > span {
	display: inline-block;
	background: black;
	color: white;
}
.c-header_nav_item {
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  cursor: help
}
.c-header_nav_item:after {
	content: " ";
	display: block;
	width: 100%;
	height: 3px;
	background: black;
	margin-left: -.1em;
}
.c-header_nav_item > span {
	display: block;
	padding-bottom: 8px;
}
.c-header_back {
}
.c-header_back a {
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}
.c-header_back_icon {
  display: block;
  position: relative;
  padding-left: 2em;
  font-style: normal
}
.c-header_back_icon:before {
	content: " ";
	display: inline-block;
	width: 1em;
	height: 1em;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	border-top: 3px solid black;
	border-left: 3px solid black;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -.5em;
}
body[data-page="index"] {
}
body[data-page="index"] .c-header_logo {
	display: block;
}
body[data-page="index"] .c-header_back {
	display: none;
}
.c-footer {
  padding: 6em 8em;
  text-align: center;
  background: black;
}
.c-footer_copyright {
  display: block;
  text-transform: uppercase;
  color: white;
}
/* moguo */
.c-moguo {
  width: 400px;
  margin: 0 auto;
  font-size: 0;
  line-height: 1;
  text-align: center
}
.c-moguo * {
	box-sizing: content-box;
}
.c-moguo_eye {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: relative;
  margin: 0 30px
}
.c-moguo_eye:before {
	content: " ";
	display: block;
	width: 2px;
	height: 2px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 1px;
	left: 50%;
	margin-left: -1px;
}
.c-moguo_mouth {
  width: 140px;
  height: 10px;
  margin: 16px auto 0;
  border-bottom: 18px solid #000;
  border-radius: 50%;
  position: relative
}
.c-moguo_mouth:before,
  .c-moguo_mouth:after {
	content: " ";
	display: block;
	position: absolute;
	border-radius: 50%;
	height: 10px;
}
.c-moguo_mouth:before {
	width: 100%;
	top: -4px;
	left: 0;
	border-bottom: 10px solid #fff;
	z-index: 2;
}
.c-moguo_mouth:after {
	width: 25px;
	top: 13px;
	left: 50%;
	margin-left: -12.5px;
	background: #000;
	z-index: 1;
}
.c-moguo_tongue {
  width: 25px;
  height: 40px;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -12.5px
}
.c-moguo_tongue span {
	display: block;
	width: 25px;
	height: 40px;
	background: #d45049;
	border-radius: 45%;
	position: relative;
	z-index: 1;
}
.c-moguo_tongue:before,
  .c-moguo_tongue:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	top: 2px;
}
.c-moguo_tongue:before {
	border-width: 0 0 18px 12px;
	border-color: transparent transparent #993a35 transparent;
	left: -6px;
	-webkit-transform: rotate(6deg);
	        transform: rotate(6deg);
}
.c-moguo_tongue:after {
	border-width: 18px 0 0 12px;
	border-color: transparent transparent transparent #993a35;
	right: -6px;
	-webkit-transform: rotate(-6deg);
	        transform: rotate(-6deg);
}
.c-worksCard {
  position: relative
}
.c-worksCard + .c-worksCard {
	margin-top: 12em;
}
.c-worksCard + .c-worksCard:before {
}
.c-worksCard a {
	display: inline-block;
	text-decoration: none;
	color: black;
}
.c-worksCard_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-worksCard_title {
  font-size: 32px;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1;
  margin: 0
}
a:hover .c-worksCard_title {
	color: white;
	background: black;
}
.c-worksCard_date,
.c-worksCard_category {
  font-size: 14px;
  font-size: 0.875rem;
  color: black;
  margin-left: 2em;
}
.c-worksCard_date {
  display: block;
}
/* page */
body[data-page="index"] {

}
body[data-page="works"] {

}
/* effect */
/* https://codepen.io/MasterChief/pen/WoKJKM */
.e-noise._always .e-noise_item,
.e-noise:hover .e-noise_item {
  position: relative
}
.e-noise._always .e-noise_item:before,
  .e-noise._always .e-noise_item:after,
  .e-noise:hover .e-noise_item:before,
  .e-noise:hover .e-noise_item:after {
	content: attr(data-text);
	position: absolute;
	color: white;
	background: black;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
}
.e-noise._always .e-noise_item:before, .e-noise:hover .e-noise_item:before {
	left: -2px;
	text-shadow: 3px 0 #0FEFEF;
	top: 2px;
	-webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
	        animation: noise-anim-2 3s infinite linear alternate-reverse;
	white-space: nowrap;
}
.e-noise._always .e-noise_item:after, .e-noise:hover .e-noise_item:after {
	left: 2px;
	text-shadow: -3px 0 red;
	top: 0;
	-webkit-animation: noise-anim 2s infinite linear alternate-reverse;
	        animation: noise-anim 2s infinite linear alternate-reverse;
	white-space: nowrap;
}
@-webkit-keyframes noise-anim {
  0% {
    clip: rect(40px, 9999px, 53px, 0);
  }
  2% {
    clip: rect(15px, 9999px, 46px, 0);
  }
  4% {
    clip: rect(56px, 9999px, 78px, 0);
  }
  6% {
    clip: rect(93px, 9999px, 24px, 0);
  }
  8% {
    clip: rect(61px, 9999px, 1px, 0);
  }
  10% {
    clip: rect(26px, 9999px, 81px, 0);
  }
  12% {
    clip: rect(79px, 9999px, 63px, 0);
  }
  14% {
    clip: rect(39px, 9999px, 86px, 0);
  }
  16% {
    clip: rect(84px, 9999px, 60px, 0);
  }
  18% {
    clip: rect(91px, 9999px, 67px, 0);
  }
  20% {
    clip: rect(66px, 9999px, 84px, 0);
  }
  22% {
    clip: rect(28px, 9999px, 89px, 0);
  }
  24% {
    clip: rect(11px, 9999px, 76px, 0);
  }
  26% {
    clip: rect(58px, 9999px, 58px, 0);
  }
  28% {
    clip: rect(82px, 9999px, 97px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 29px, 0);
  }
  32% {
    clip: rect(85px, 9999px, 67px, 0);
  }
  34% {
    clip: rect(47px, 9999px, 98px, 0);
  }
  36% {
    clip: rect(92px, 9999px, 24px, 0);
  }
  38% {
    clip: rect(41px, 9999px, 85px, 0);
  }
  40% {
    clip: rect(79px, 9999px, 71px, 0);
  }
  42% {
    clip: rect(21px, 9999px, 41px, 0);
  }
  44% {
    clip: rect(3px, 9999px, 95px, 0);
  }
  46% {
    clip: rect(29px, 9999px, 41px, 0);
  }
  48% {
    clip: rect(66px, 9999px, 47px, 0);
  }
  50% {
    clip: rect(54px, 9999px, 73px, 0);
  }
  52% {
    clip: rect(73px, 9999px, 61px, 0);
  }
  54% {
    clip: rect(76px, 9999px, 22px, 0);
  }
  56% {
    clip: rect(40px, 9999px, 59px, 0);
  }
  58% {
    clip: rect(6px, 9999px, 78px, 0);
  }
  60% {
    clip: rect(69px, 9999px, 84px, 0);
  }
  62% {
    clip: rect(35px, 9999px, 51px, 0);
  }
  64% {
    clip: rect(78px, 9999px, 84px, 0);
  }
  66% {
    clip: rect(62px, 9999px, 53px, 0);
  }
  68% {
    clip: rect(97px, 9999px, 46px, 0);
  }
  70% {
    clip: rect(55px, 9999px, 56px, 0);
  }
  72% {
    clip: rect(60px, 9999px, 83px, 0);
  }
  74% {
    clip: rect(19px, 9999px, 36px, 0);
  }
  76% {
    clip: rect(70px, 9999px, 54px, 0);
  }
  78% {
    clip: rect(69px, 9999px, 67px, 0);
  }
  80% {
    clip: rect(21px, 9999px, 78px, 0);
  }
  82% {
    clip: rect(91px, 9999px, 10px, 0);
  }
  84% {
    clip: rect(36px, 9999px, 40px, 0);
  }
  86% {
    clip: rect(45px, 9999px, 68px, 0);
  }
  88% {
    clip: rect(34px, 9999px, 4px, 0);
  }
  90% {
    clip: rect(99px, 9999px, 73px, 0);
  }
  92% {
    clip: rect(88px, 9999px, 43px, 0);
  }
  94% {
    clip: rect(7px, 9999px, 53px, 0);
  }
  96% {
    clip: rect(9px, 9999px, 5px, 0);
  }
  98% {
    clip: rect(22px, 9999px, 1px, 0);
  }
  100% {
    clip: rect(21px, 9999px, 69px, 0);
  }
}
@keyframes noise-anim {
  0% {
    clip: rect(40px, 9999px, 53px, 0);
  }
  2% {
    clip: rect(15px, 9999px, 46px, 0);
  }
  4% {
    clip: rect(56px, 9999px, 78px, 0);
  }
  6% {
    clip: rect(93px, 9999px, 24px, 0);
  }
  8% {
    clip: rect(61px, 9999px, 1px, 0);
  }
  10% {
    clip: rect(26px, 9999px, 81px, 0);
  }
  12% {
    clip: rect(79px, 9999px, 63px, 0);
  }
  14% {
    clip: rect(39px, 9999px, 86px, 0);
  }
  16% {
    clip: rect(84px, 9999px, 60px, 0);
  }
  18% {
    clip: rect(91px, 9999px, 67px, 0);
  }
  20% {
    clip: rect(66px, 9999px, 84px, 0);
  }
  22% {
    clip: rect(28px, 9999px, 89px, 0);
  }
  24% {
    clip: rect(11px, 9999px, 76px, 0);
  }
  26% {
    clip: rect(58px, 9999px, 58px, 0);
  }
  28% {
    clip: rect(82px, 9999px, 97px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 29px, 0);
  }
  32% {
    clip: rect(85px, 9999px, 67px, 0);
  }
  34% {
    clip: rect(47px, 9999px, 98px, 0);
  }
  36% {
    clip: rect(92px, 9999px, 24px, 0);
  }
  38% {
    clip: rect(41px, 9999px, 85px, 0);
  }
  40% {
    clip: rect(79px, 9999px, 71px, 0);
  }
  42% {
    clip: rect(21px, 9999px, 41px, 0);
  }
  44% {
    clip: rect(3px, 9999px, 95px, 0);
  }
  46% {
    clip: rect(29px, 9999px, 41px, 0);
  }
  48% {
    clip: rect(66px, 9999px, 47px, 0);
  }
  50% {
    clip: rect(54px, 9999px, 73px, 0);
  }
  52% {
    clip: rect(73px, 9999px, 61px, 0);
  }
  54% {
    clip: rect(76px, 9999px, 22px, 0);
  }
  56% {
    clip: rect(40px, 9999px, 59px, 0);
  }
  58% {
    clip: rect(6px, 9999px, 78px, 0);
  }
  60% {
    clip: rect(69px, 9999px, 84px, 0);
  }
  62% {
    clip: rect(35px, 9999px, 51px, 0);
  }
  64% {
    clip: rect(78px, 9999px, 84px, 0);
  }
  66% {
    clip: rect(62px, 9999px, 53px, 0);
  }
  68% {
    clip: rect(97px, 9999px, 46px, 0);
  }
  70% {
    clip: rect(55px, 9999px, 56px, 0);
  }
  72% {
    clip: rect(60px, 9999px, 83px, 0);
  }
  74% {
    clip: rect(19px, 9999px, 36px, 0);
  }
  76% {
    clip: rect(70px, 9999px, 54px, 0);
  }
  78% {
    clip: rect(69px, 9999px, 67px, 0);
  }
  80% {
    clip: rect(21px, 9999px, 78px, 0);
  }
  82% {
    clip: rect(91px, 9999px, 10px, 0);
  }
  84% {
    clip: rect(36px, 9999px, 40px, 0);
  }
  86% {
    clip: rect(45px, 9999px, 68px, 0);
  }
  88% {
    clip: rect(34px, 9999px, 4px, 0);
  }
  90% {
    clip: rect(99px, 9999px, 73px, 0);
  }
  92% {
    clip: rect(88px, 9999px, 43px, 0);
  }
  94% {
    clip: rect(7px, 9999px, 53px, 0);
  }
  96% {
    clip: rect(9px, 9999px, 5px, 0);
  }
  98% {
    clip: rect(22px, 9999px, 1px, 0);
  }
  100% {
    clip: rect(21px, 9999px, 69px, 0);
  }
}
@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(17px, 9999px, 89px, 0);
  }
  5% {
    clip: rect(48px, 9999px, 32px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 17px, 0);
  }
  15% {
    clip: rect(32px, 9999px, 36px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 46px, 0);
  }
  25% {
    clip: rect(48px, 9999px, 24px, 0);
  }
  30% {
    clip: rect(2px, 9999px, 41px, 0);
  }
  35% {
    clip: rect(94px, 9999px, 16px, 0);
  }
  40% {
    clip: rect(4px, 9999px, 10px, 0);
  }
  45% {
    clip: rect(90px, 9999px, 52px, 0);
  }
  50% {
    clip: rect(8px, 9999px, 74px, 0);
  }
  55% {
    clip: rect(21px, 9999px, 12px, 0);
  }
  60% {
    clip: rect(84px, 9999px, 21px, 0);
  }
  65% {
    clip: rect(58px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(24px, 9999px, 35px, 0);
  }
  75% {
    clip: rect(44px, 9999px, 70px, 0);
  }
  80% {
    clip: rect(17px, 9999px, 66px, 0);
  }
  85% {
    clip: rect(42px, 9999px, 29px, 0);
  }
  90% {
    clip: rect(73px, 9999px, 17px, 0);
  }
  95% {
    clip: rect(69px, 9999px, 80px, 0);
  }
  100% {
    clip: rect(99px, 9999px, 50px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(17px, 9999px, 89px, 0);
  }
  5% {
    clip: rect(48px, 9999px, 32px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 17px, 0);
  }
  15% {
    clip: rect(32px, 9999px, 36px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 46px, 0);
  }
  25% {
    clip: rect(48px, 9999px, 24px, 0);
  }
  30% {
    clip: rect(2px, 9999px, 41px, 0);
  }
  35% {
    clip: rect(94px, 9999px, 16px, 0);
  }
  40% {
    clip: rect(4px, 9999px, 10px, 0);
  }
  45% {
    clip: rect(90px, 9999px, 52px, 0);
  }
  50% {
    clip: rect(8px, 9999px, 74px, 0);
  }
  55% {
    clip: rect(21px, 9999px, 12px, 0);
  }
  60% {
    clip: rect(84px, 9999px, 21px, 0);
  }
  65% {
    clip: rect(58px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(24px, 9999px, 35px, 0);
  }
  75% {
    clip: rect(44px, 9999px, 70px, 0);
  }
  80% {
    clip: rect(17px, 9999px, 66px, 0);
  }
  85% {
    clip: rect(42px, 9999px, 29px, 0);
  }
  90% {
    clip: rect(73px, 9999px, 17px, 0);
  }
  95% {
    clip: rect(69px, 9999px, 80px, 0);
  }
  100% {
    clip: rect(99px, 9999px, 50px, 0);
  }
}
