.c-footer {
  padding: 6em 8em;
  text-align: center;
  background: black;
}

.c-footer_copyright {
  display: block;
  text-transform: uppercase;
  color: white;
}


/* moguo */

.c-moguo {
  width: 400px;
  margin: 0 auto;
  font-size: 0;
  line-height: 1;
  text-align: center;

  & * {
    box-sizing: content-box;
  }
}

.c-moguo_eye {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: relative;
  margin: 0 30px;

  &:before {
    content: " ";
    display: block;
    width: 2px;
    height: 2px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 50%;
    margin-left: -1px;
  }
}

.c-moguo_mouth {
  width: 140px;
  height: 10px;
  margin: 16px auto 0;
  border-bottom: 18px solid #000;
  border-radius: 50%;
  position: relative;

  &:before,
  &:after {
    content: " ";
    display: block;
    position: absolute;
    border-radius: 50%;
    height: 10px;
  }

  &:before {
    width: 100%;
    top: -4px;
    left: 0;
    border-bottom: 10px solid #fff;
    z-index: 2;
  }

  &:after {
    width: 25px;
    top: 13px;
    left: 50%;
    margin-left: -12.5px;
    background: #000;
    z-index: 1;
  }
}

.c-moguo_tongue {
  width: 25px;
  height: 40px;
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -12.5px;

  & span {
    display: block;
    width: 25px;
    height: 40px;
    background: #d45049;
    border-radius: 45%;
    position: relative;
    z-index: 1;
  }

  &:before,
  &:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 2px;
  }

  &:before {
    border-width: 0 0 18px 12px;
    border-color: transparent transparent #993a35 transparent;
    left: -6px;
    transform: rotate(6deg);
  }

  &:after {
    border-width: 18px 0 0 12px;
    border-color: transparent transparent transparent #993a35;
    right: -6px;
    transform: rotate(-6deg);
  }
}
