.c-worksList {
  position: relative;

  & + .c-worksList {
    margin-top: 12em;
  }

  & a {
    display: inline-block;
    text-decoration: none;
    color: black;
  }
}

.c-worksList_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.c-worksList_title {
  font-size: calc(var(--fontSize) * 2);
  text-transform: uppercase;
  line-height: 1;
  margin: 0;

  @nest a:hover & {
    color: white;
    background: black;
  }
}

.c-worksList_date,
.c-worksList_category {
  font-size: calc(var(--fontSize) * .875);
  color: black;
  margin-left: 2em;
}

.c-worksList_date {
  display: block;
}
