.c-worksHero {
  position: relative;
  background: color(black a(5%));
}

.c-worksHero_item {
  padding: 4em 16em;

  &._vertical {
    text-align: center;

    & img {
      width: auto;
      max-height: 1000px;
    }
  }

  & img {
    width: 100%;
    height: auto;
    margin-bottom: -8em;
    // box-shadow: 0 0 6px color(black a(26%));
    box-shadow: 0 3px 6px color(black a(16%)),
                0 3px 6px color(black a(23%));
    background: white;
  }
}
